<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理新增</title>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/vue.min.js"></script>
</head>
<body>
<div id="myApp">
    <h1>用户新增</h1>
    <label>用户名ID：</label>
    <input type="text" v-model="user.id">
    <br>
    <label>用户名：</label>
    <input type="text" v-model="user.name">
    <br>
    <label>密码：</label>
    <input type="password" v-model="user.password">
    <br>
    <label>邮箱：</label>
    <input type="text" v-model="user.email">
    <br>
    <button type="button" @click="add">点击新增</button>
</div>
</body>
<script>
    new Vue({
        el:"#myApp",//绑定元素
        data:{  //传输数据
            user:{  //请求参数
                id:"",  //对应文本框"user.id"
                name:"",
                password:"",
                email:""
            }
        },
        methods:{   //定义函数
            add(){  //用户新增，提交后端
                $.ajax({    //发送Ajax请求
                    url:"/user/add",
                    type:"post",
                    data: JSON.stringify(this.user),    //请求参数类型转换，只适用post，put
                    contentType:"application/json", //请求内容类型，只适用post，put
                    success:function (rs){  //访问服务器成功后的回调函数
                        if(rs.code==200){
                            alert(rs.msg);
                            window.location.href="/userList.html";
                        }else {
                            alert(rs.msg);
                        }
                    }
                })
            }
        }
    })

</script>
</html>